<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>orders</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<!--    <link rel="stylesheet" th:href="@{/style.css}" id="theme-stylesheet">-->

</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container bg-white py-4 rounded shadow mt-2">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h3 class="mb-0">Order List</h3>
        <a th:href="@{/add-order-form}" class="btn btn-secondary" role="button">Create</a>
    </div>
    <table class="table  table-bordered rounded ">
        <thead class="table-primary">
        <tr>
            <th>Id</th>
            <th>Products</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${orders}">
            <td th:text="${order.id}"></td>
            <td>
                <ul class="list-unstyled">
                    <li th:each="product : ${order.productList}">
                        <p th:text="${product.name}"></p>
                    </li>
                </ul>
            </td>
            <td>
                <div class="btn-group">
                    <button class="btn" data-toggle="modal" th:attr="data-target='#updateModal'+${order.id}">
                        <img width="40" height="40" src="https://img.icons8.com/cotton/64/track-order.png" alt="change status"/>
                    </button>


                    <a th:href="@{/update-order/{ID}(ID=${order.id})}" class="btn" role="button">
                        <img width="40" height="40" src="https://img.icons8.com/nolan/64/create-new.png" alt="update"/>
                    </a>
                    <a th:href="@{/delete-order/{ID}(ID=${order.id})}" class="btn" role="button">
                        <img width="40" height="40" src="https://img.icons8.com/nolan/64/delete-forever.png" alt="delete-forever"/>
                    </a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <!--update modal-->
    <div th:each="order : ${orders}" th:id="'updateModal'+${order.id}" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Update Status</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!-- Input fields for updating data -->
                <form th:action="@{/update-status}" method="post">
                    <div class="modal-body">
                        <div class="form-group">
                            <input class="form-control" type="text" name="id" id="id" th:value="${order.id}" readonly>
                        </div>
                        <div class="form-group">
                            <input class="form-control"  name="id" id="price" th:value="${order.totalPrice}" type="hidden" >
                        </div>
                        <div class="form-group">
                            <input class="form-control" name="id" id="productList" th:value="${order.productList}" type="hidden">
                        </div>
                        <div class="form-group">
                            <input class="form-control" name="id" id="user" th:value="${order.user}" type="hidden">
                        </div>
                        <div class="form-group">
                            <div th:each="statusOption : ${T(com.example.demo.model.enums.OrderStatus).values()}">
                                <input type="checkbox" class="form-check-input"
                                       th:id="${'status_' + statusOption}"
                                       th:name="status"
                                       th:value="${statusOption}"
                                       th:checked="${order.status == statusOption}" />
                                <label th:for="${'status_' + statusOption}" th:text="${statusOption}"></label><br>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Update</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>