<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>orders</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- Include Bootstrap JavaScript and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div sec:authorize="hasRole('ADMIN')">Text visible to admin.</div>
<div class="container bg-white py-4 rounded shadow mt-2">
<!--    inproceess-->
    <h4>Orders In Process</h4>
    <table class="table  table-bordered rounded ">
        <thead class="table-primary">
        <tr>
            <th>Id</th>
            <th>Products</th>
            <th>total Price</th>
            <th>customer details</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${orders}" th:if="${order.status.toString() == 'IN_PROCESS'}">
            <td th:text="${order.id}"></td>
            <td>
                <ul class="list-unstyled">
                    <li th:each="orderItem : ${order.getOrdersList}">
                        <h6 > <span th:text="${orderItem.product.getName().toString()}"></span>  <span th:text="${orderItem.getQuantity()}"></span></h6>
                    </li>
                </ul>
            </td>
            <td th:text="${order.totalPrice}"></td>
            <td > <h6 th:text="${order.user .username}"></h6>
                <h6 th:text="${order.user.phone}"></h6>
                <div th:each="address: ${order.user.addresses}">
                    <h6>
                        <span th:text="${address.city}"></span>
                        <span th:text="${address.state}"></span>
                        <span th:text="${address.street}"></span>
                        <span th:text="${address.postalCode}"></span>
                    </h6>
                </div>
            </td>

            <td>
                <div class="btn-group">
                    <button class="btn" data-toggle="modal" th:attr="data-target='#updateModal'+${order.id}">
                        <img width="40" height="40" src="https://img.icons8.com/cotton/64/track-order.png" alt="change status"/>
                    </button>

                </div>
            </td>
        </tr>
        </tbody>
    </table>
<!--    delivered-->
    <h4>Orders Delivered</h4>
    <table class="table  table-bordered rounded ">
        <thead class="table-primary">
        <tr>
            <th>Id</th>
            <th>Products</th>
            <th>total Price</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${orders}" th:if="${order.status.toString() == 'DELIVERED'}">
            <td th:text="${order.id}"></td>
            <td>
                <ul class="list-unstyled">
                    <li th:each="orderItem : ${order.getOrdersList}">
                        <h6 > <span th:text="${orderItem.product.getName().toString()}"></span>  <span th:text="${orderItem.getQuantity()}"></span></h6>
                    </li>
                </ul>
            </td>
            <td th:text="${order.totalPrice}"></td>
            <td>
                <div class="btn-group">
                    <button class="btn" data-toggle="modal" th:attr="data-target='#updateModal'+${order.id}">
                        <img width="40" height="40" src="https://img.icons8.com/cotton/64/track-order.png" alt="change status"/>
                    </button>

                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <!--update modal-->
    <div th:each="order : ${orders}" th:id="'updateModal'+${order.id}" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Update Status</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!-- Input fields for updating data -->
                <form th:action="@{/update-status}" method="post" class="mx-5 mb-4">
                    <div class="modal-body">
                        <div class="form-group">
                            <input class="form-control" type="text" name="id" id="id" th:value="${order.id}" readonly>
                        </div>
                        <div class="form-group">
                            <div th:each="statusOption : ${T(com.example.demo.model.enums.OrderStatus).values()}">
                                <input type="radio" class="form-check-input"
                                       th:id="${'status_' + statusOption}"
                                       th:name="updatedStatus"
                                       th:value="${statusOption}"
                                       th:checked="${order.status == statusOption}" />
                                <label th:for="${'status_' + statusOption}" th:text="${statusOption}"></label><br>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Update Status</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>