<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.1/css/bootstrap.min.css}"/>
    <style>
        /*body {*/
        /*    margin: 0;*/
        /*    padding: 0;*/
        /*    min-height: 100vh;*/
        /*    min-width: 100%;*/
        /*    display: grid;*/
        /*    place-items: center;*/
        /*}*/

        /*.myimages {*/
        /*    display: flex;*/
        /*    overflow: hidden;*/
        /*    !*height: 50vw;*!*/
        /*    background: transparent;*/
        /*}*/

        /*.myimages img {*/
        /*    max-width: 100%;*/
        /*    vertical-align: middle;*/
        /*    border: 2px solid white;*/
        /*    box-sizing: border-box;*/
        /*    transition: opacity .2s;*/
        /*}*/

        /*.myimages:hover img {*/
        /*    opacity: 0.5;*/
        /*}*/

        /*.myimages img:hover {*/
        /*    opacity: 1;*/
        /*}*/

        /*.column {*/
        /*    animation: var(--animation, none) 16s infinite linear;*/
        /*}*/

        /*.column:hover {*/
        /*    animation-play-state: paused;*/
        /*}*/

        /*.column:nth-of-type(odd) {*/
        /*    align-self: flex-end;*/
        /*    --direction: 50%;*/
        /*}*/

        /*@keyframes slide {*/
        /*    to {*/
        /*        -webkit-transform: translateY(var(--direction, -50%));*/
        /*        transform: translateY(var(--direction, -50%));*/
        /*    }*/
        /*}*/
    </style>
</head>
<body>
<div th:fragment="images">
    <div class="myimages">

        <div class="row">
            <a href="#"><img th:src="@{/b1.png}" alt="image"></a>
            <a href="#"><img src="https://picsum.photos/300/300?random=2" alt="image"></a>
            <a href="#"><img src="https://picsum.photos/300/300?random=3" alt="image"></a>
            <a href="#"><img src="https://picsum.photos/300/300?random=2" alt="image"></a>


        </div>
<!--        <div class="column">-->
<!--            <a href="#"><img src="https://picsum.photos/300/300?random=5" alt="image"></a>-->
<!--            <a href="#"><img src="https://picsum.photos/300/300?random=6" alt="image"></a>-->
<!--            <a href="#"><img src="https://picsum.photos/300/300?random=7" alt="image"></a>-->
<!--            <a href="#"><img src="https://picsum.photos/300/300?random=2" alt="image"></a>-->
<!--            <a href="#"><img src="https://picsum.photos/300/300?random=3" alt="image"></a>-->
<!--            <a href="#"><img src="https://picsum.photos/300/300?random=3" alt="image"></a>-->

<!--        </div>-->

    </div>
</div>

</body>
</html>